/* Write your CSS here */
.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google-img {
  width: 30%;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  width: 35%;
  margin-top: 20px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.searchIcon {
  width: 10%;
  align-items: center;
}
.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
}
.input-bar {
  border: none;
  width: 100%;
}
.list-container {
  width: 100%;
}
